{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
	<main>
		<section id="inscription">
			<div class="row">
				<div class="col">

					<h2>S'inscrire</h2>

					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm) }}
					<fieldset class="display_start">
						<legend>Mon identité</legend>
						{{ form_row(registrationForm.nom, {'attr':{'class': 'input'}}) }}
						{{ form_row(registrationForm.prenom, {'attr':{'class': 'input'}}) }}
						{{ form_row(registrationForm.email, {'attr':{'class': 'input'}}) }}
					</fieldset>
					<fieldset class="display_start">
						<legend>Information supplémentaires</legend>
						{{ form_row(registrationForm.photo_profil, {'attr':{'class': 'input'}}) }}
						{{ form_row(registrationForm.nombre_enfant, {'attr':{'class': 'input'}}) }}
						{{ form_row(registrationForm.date_naissance, {'attr':{'class': 'input'}}) }}
					</fieldset>

					{{ form_row(registrationForm.plainPassword,{label: 'Mot de passe', 'attr':{'class': 'input'}}) }}
					{{ form_row(registrationForm.RGPDConsent) }}
				</div>
			</div>
            <div id="bouton" >
            <button type="submit" class="btn">Valider</button>
					{{ form_end(registrationForm) }}
            </div>
		</section>
	</main>
{% endblock %}
